footer,
header,
section {
    display: block
}
[hidden] {
    display: none
}
html {
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
html,
input,
textarea {
    font-family: sans-serif
}
body {
    margin: 0
}
a {
    background: 0 0
}
a:focus {
    outline: thin dotted
}
a:active,
a:hover {
    outline: 0
}
h1 {
    font-size: 2rem;
    margin: .67em 0
}
h2 {
    font-size: 1.5em;
    margin: .83em 0
}
h3 {
    font-size: 1.17em;
    margin: 1em 0
}
h4 {
    font-size: 1em;
    margin: 1.33em 0
}
h5 {
    font-size: .83em;
    margin: 1.67em 0
}
h6 {
    font-size: .75em;
    margin: 2.33em 0
}
img {
    margin: auto;
    vertical-align: middle
}
.frame-area {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 300px;
    overflow: auto;
    border: #999 1px solid;
    margin: 0;
    padding: 0
}
.container {
    position: relative
}
.fadein {
    position: relative;
    height: 332px;
    width: 500px
}
.fadein img {
    position: absolute;
    left: 0;
    top: 0
}
.mySlides {
    display: none
}
.cursor {
    cursor: pointer
}
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px
}
.next:hover {
    background-color: rgba(0, 0, 0, .8)
}
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: #fff
}
.row:after {
    content: "";
    display: table;
    clear: both
}
.column {
    float: left;
    width: 16.66%
}
.demo {
    opacity: .6
}
.active,
.demo:hover {
    opacity: 1
}
strong {
    font-weight: 700
}
code {
    font-family: monospace, serif;
    font-size: 1em
}
small {
    font-size: 80%
}
img {
    border: 0
}
input,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}
input {
    line-height: normal
}
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
input[disabled] {
    cursor: default
}
input[type=checkbox],
input[type=radio] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto;
    vertical-align: top
}
*,
:after,
:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
body {
    font-size: 16px;
    font-weight: 300;
    font-family: "Titillium Web", "Roboto Condensed", "Open Sans", sans-serif;
    line-height: normal;
    color: #7b7a82
}
a {
    text-decoration: none
}
address {
    font-style: normal
}
p {
    margin-top: 0
}
form .field {
    margin-bottom: 10px;
    font-size: 2rem
}
form label {
    font-size: 11px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700
}
form input,
form textarea {
    display: block;
    width: 100%;
    background: 0 0;
    border: 2px solid #91909a;
    border-radius: 5px;
    padding: 5px 10px;
    outline: 0;
    color: inherit;
    font-family: inherit
}
form input:active,
form input:focus,
form textarea:active,
form textarea:focus {
    border-color: #c6c5cb
}
form input[type=reset],
form input[type=submit] {
    background: #eeb658;
    background: -webkit-linear-gradient(270deg, #eeb658, #ee8358);
    background: linear-gradient(180deg, #eeb658, #ee8358);
    color: #7c4b26;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 300
}
form input[type=reset]:hover,
form input[type=submit]:hover {
    background: #eeb658;
    background: -webkit-linear-gradient(90deg, #eeb658, #ee8358);
    background: linear-gradient(0deg, #eeb658, #ee8358)
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
.container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0
}
@media (min-width:768px) {
    .container {
        width: 750px
    }
}
@media (min-width:992px) {
    .container {
        width: 970px
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}
.row {
    margin-left: -15px;
    margin-right: -15px
}
.row:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0
}
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}
@media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }
    .col-md-1 {
        width: 8.33333%
    }
    .col-md-2 {
        width: 16.66667%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-4 {
        width: 33.33333%
    }
    .col-md-5 {
        width: 41.66667%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-7 {
        width: 58.33333%
    }
    .col-md-8 {
        width: 66.66667%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-10 {
        width: 83.33333%
    }
    .col-md-11 {
        width: 91.66667%
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
    .col-md-offset-1 {
        margin-left: 8.33333%
    }
    .col-md-offset-2 {
        margin-left: 16.66667%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-4 {
        margin-left: 33.33333%
    }
    .col-md-offset-5 {
        margin-left: 41.66667%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-7 {
        margin-left: 58.33333%
    }
    .col-md-offset-8 {
        margin-left: 66.66667%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-10 {
        margin-left: 83.33333%
    }
    .col-md-offset-11 {
        margin-left: 91.66667%
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
}
@-ms-viewport {
    width: device-width
}
.site-header {
    background: #fff;
    text-align: center;
    height: 130px;
    position: relative;
    z-index: 99
}
#branding {
    position: absolute;
    display: inline-block;
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -135px;
    z-index: 1
}
#branding:after {
    content: " ";
    position: absolute;
    width: 0;
    border-style: solid;
    border-width: 100px 150px;
    border-color: #fff transparent transparent;
    left: 0;
    z-index: -1;
    top: 70px
}
#branding .logo {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    max-height: 100px
}
#branding .site-title {
    font-size: 18px;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    line-height: 20px
}
#branding .site-title a {
    color: #5a595e
}
#branding .site-description {
    font-size: 12px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: #a8a8b0;
    line-height: 15px
}
.hero {
    background: #ceefa5;
    position: relative;
    z-index: 1;
    color: #5a595e
}
.homepage .hero {
    padding: 70px 0
}
.hero .hero-half-background {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: right center
}
@media screen and (max-width:990px) {
    .hero .hero-half-background {
        width: 100%
    }
}
.hero .hero-content {
    background: #fff;
    display: inline-block;
    padding: 30px;
    border-radius: 5px;
    color: #7b7a82;
    position: relative;
    top: 290px
}
@media screen and (max-width:990px) {
    .hero .hero-content {
        margin-top: 70px;
        margin-bottom: 50px;
        top: 0
    }
}
.hero .hero-content .hero-title {
    font-size: 30px;
    font-size: 2rem;
    margin: 0 0 20px;
    color: #5a595e;
    line-height: 1;
    font-weight: 400
}
@media screen and (max-width:990px) {
    .hero .request-form {
        background: #2f2e3c;
        padding: 30px;
        border-radius: 5px
    }
}
.hero .request-form h2 {
    font-size: 40px;
    font-size: 2.66667rem;
    margin: 0 0 20px;
    color: #5a595e;
    font-weight: 300
}
.hero .request-form input[type=submit] {
    margin-top: 30px
}
.fullwidth-block {
    padding: 100px 0
}
.fullwidth-block header {
    text-align: center;
    margin-bottom: 100px
}
.fullwidth-block header .section-title {
    margin: 0;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-size: 2.66667rem;
    font-weight: 300;
    color: #5a595e
}
.fullwidth-block header .section-title:after {
    content: " ";
    width: 70px;
    height: 5px;
    background: #dedee2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}
.fullwidth-block header .section-desc {
    font-size: 18px;
    font-size: 1.2rem;
    margin: 0;
    color: inherit
}
.fullwidth-block [bg-dark] .section-title {
    color: #fff
}
.fullwidth-block [bg-dark] .section-title:after {
    background: #494956
}
.text-center {
    text-align: center
}
.cta {
    text-align: center
}
.cta header {
    margin-bottom: 50px
}
.cta a {
    color: #5a595e;
    font-size: 30px;
    font-size: 2rem;
    display: inline-block
}
.cta a.email {
    padding-bottom: 0;
    border-bottom: 2px solid #5a595e
}
.site-footer {
    background-color: #2f2e3c;
    padding: 100px 0 50px
}
.site-footer a {
    color: inherit
}
.site-footer .copy {
    text-align: center;
    margin-top: 50px
}
.widget .widget-title {
    font-size: 30px;
    font-size: 2rem;
    font-weight: 100
}
.social-links a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-size: 1.66667rem;
    line-height: 1.8;
    margin-right: 10px;
    -webkit-transition: .3s ease;
    transition: .3s ease
}
.social-links a.facebook {
    background-color: #4b66a0
}
.social-links a.facebook:hover {
    background-color: #6680b8
}
.social-links a.twitter {
    background-color: #5dd7fc
}
.social-links a.twitter:hover {
    background-color: #8fe3fd
}
.social-links a.pinterest {
    background-color: #cc2e3c
}
.social-links a.pinterest:hover {
    background-color: #d95460
}
